<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="head">
        <div class="head-content">
            <h1>Login</h1>
        </div>
        <div class="form">
            <form action="/login" method="POST">
                <div class="login-page-content">
                    <label class="label">Name</label>
                    <br>
                    <input class="input" type="text" id="name" name="name" placeholder="name" required>
                    <br>
                    <label class="label">Password</label>
                    <br>
                    <input class="input" type="password" id="password" name="password" placeholder="password" required>
                    <br>
                    <label class="label">Role</label>
                    <br>
                    <select name="role" id="role">
                        <option value="manager">manager</option>
                        <option value="chef">chef</option>
                    </select>
                    <br><br>
                    <button type="submit" class="button is-link">login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>